<div>
    <div class="list-group-header">
        <ul class="nav nav-tabs">
            <li ui-sref-active="active"><a ui-sref="shelf">Shelf</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="book in shelfCtrl.books">
                    <div class="row">
                        <div class="col-xs-2 col-sm-1">
                            <div class="thumbnail thumbnail-left">
                                <img ng-src="{{book.thumbnail}}" alt="cover"/>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-11">
                            <h4 class="list-group-item-heading">{{::book.title}}</h4>
                            <p class="list-group-item-text">
                                <strong>{{::book.subtitle}}</strong><br/>
                                by {{::book.authors.join(',')}}<br/>
                                {{::book.publishedDate}}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
